	#select-result, pre {
		word-wrap: break-word;
	}

	#selectable .ui-selecting { background: #d66969; }
	#selectable .ui-selected { background: #a55151; color: white; }
	#selectable {list-style-type: none; margin: 0; padding: 0; width: 900px; }
	#select-result {width: 850px; margin: 0; padding: 0;}
	#selectable li { margin: 0; padding: 0; float: left; width: 60px; height: 60px;}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border: 1px solid #d8d8d8;
		background: #5178a5;
		font-weight: normal;
		color: #555555;
	}

	#selectable, #select-result {
		display: block;
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#selectable {width: 768px;}
		#select-result {width: 700px;}
    	#selectable li {width: 50px; height: 50px; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#selectable {width: 767px;}
		#select-result {width: 560px;}
    	#selectable li {width: 40px; height: 40px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#selectable {width: 480px;}
		#select-result {width: 448px;}
    	#selectable li {width: 32px; height: 32px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#selectable {width: 320px;}
		#select-result {width: 280px; font-size: 12px;}
    	#selectable li {width: 20px; height: 20px; }
	}