#selectable .ui-selecting { background: #c32a35; }
#selectable .ui-selected { background: #c52f30; color: white; }
#selectable {list-style-type: none; margin: 0; padding: 0; width: 900px; }
#selectable li { margin: 0px; padding: 0px; float: left; width: 60px; height: 60px; font-size: 21px; text-align: center; }
table {border-collapse: collapse; border-spacing: 0px; border: 0; padding: 0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #ddd;
	font-weight: normal;
	color: #555555;
}